<div class="slds-grid slds-wrap slds-p-top--small">
	<div class="slds-col slds-size--1-of-3 slds-p-around--small">
		<a href="https://developer.salesforce.com" target="_blank">
			<span class="slds-avatar slds-avatar--large"><img src="/assets/images/logo-noname.svg"/></span>
		</a>
	</div>
	<div class="slds-col slds-size--1-of-3 slds-align--absolute-center">
		<span class="slds-text-heading--large">${i18n("header.title")}</span>
	</div>
	<div class="slds-col slds-size--1-of-3">
		<!-- reserved for OAuth buttons -->
	</div>
</div>